<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Whoops...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'whoops... there has been a problem'"/>
    <p th:text= "${ErrorMessage} "/>
    <a href="details.html" 
   	th:href="@{http://localhost:8080/}">Count more!</a>
    
    
</body>
</html>