<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eyefinity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <p th:text= "'Eyefinity - the worlds best I counting service'" />
    <br/>
    
    <form  method="POST" action="/plainText" id="mainForm">
	  <textarea name="plainTextValue" form="mainForm">Enter your text here</textarea>
	  <input type="submit" value="Submit">
	</form> 
	
	<p th:text="'Or upload a txt file!'"/>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/multipartFile">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
    
</body>